h1 {
    align-self: center;
    font-family: 'Lemon Tuesday Regular';
    font-size: 50px;
}
.userPage {
    width: 100vw;
    height: 2300px;
}
.User {
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-content: center;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.075) 0%, rgba(255, 255, 255, 0.664) 75%, #ffffff 100%), url('../../assets/images/userPage.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.User > .formBox {
    margin-top: 30vh;
    width: 450px;
    height: 1600px;
    background-color: #E7E6E0;
    border-style: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bigInputBox > textarea{
    width: 257px;
    height: 200px;
    margin: 10px;
    padding: 12px;
    background-color: white;
    box-shadow: 5px 5px 20px rgb(145, 145, 145);
    font-family: 'Glacial Indifference Regular';
    border-style: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.autoFillBox{
    width: 257px;
    height: 400px;
    margin: 10px;
    padding: 12px;
    background-color: white;
    box-shadow: 5px 5px 20px rgb(145, 145, 145);
    font-family: 'Glacial Indifference Regular';
    color: darkgrey;
    font-style: italic;
    border-style: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    -moz-text-decoration-style:;
}

form {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 300px;
}

form > input {
    margin: 10px;
    box-shadow: 5px 5px 20px rgb(145, 145, 145);
}

label {
    padding: 5px;
    align-self: center;
}

#moonSigns {
    width: 280px;
    align-self: center;
    border-style: none;
    padding: 12px;
    margin-bottom: 8px;
    border-radius: 4px;
    box-shadow: 5px 5px 20px rgb(145, 145, 145);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}