h1 {
    text-align: center;
}

h2 {
    font-size: 35px;
    font-family: 'Glacial Indifference Regular';
    text-align: center;
}

p {
    width: auto;
    font-family: 'Glacial Indifference Regular';
    font-size: 20px;
    text-align: center;
}
button {
    align-self: center;
    padding: 12px;
    background-color: #ac5757;
    border-style: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    box-shadow: 5px 5px 20px rgb(95, 95, 95);
    transition-duration: 0.4s;
}

button:hover{
    background-color: #3d2544; /* Green */
    color: white;
}

input {
    padding: 12px;
    border-style: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;

}

/* showReg */
.true {
    visibility: visible;
}

.false {
    visibility: hidden;
}
/* showReg */


.row1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
    align-items: center;   
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.075) 0%, rgba(255, 255, 255, 0.678) 75%, #ffffff 100%), url('../../assets/images/landingimage.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.r1Content{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    
}
    .authArea {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        
    }

    .regInputArea {
        z-index: 1;
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-self: center;
        background-color: rgba(0, 0, 0, 0.966);
    }
    .regForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-self: center;
        width: 600px;
        height: 600px;
    }

    .regForm > button {
        margin: 10px;
        align-self: center;
        width: 150px;
        box-shadow: none;
    }

    .regForm > form > input {
        align-self: center;
        width: 350px;
        margin: 10px;
    }
   

    .row1 h1 {
        margin-top: 300px;
        font-family: 'Lemon Tuesday Regular';
        font-size: 60px;
    }

    
    

.row2 {
    
    width: 100vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-self: center;
    text-align: center;
    font-family: 'Glacial Indifference Regular';
    margin-bottom: 200px;
}

    .r2Column1 img {
        align-self: center;
        width: 400px;
    }
    .r2Column1 {
        align-self: center;
        width: 70vw;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }

.row3 {
    margin: 50px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    background-image: url(../../assets/images/moonPDescp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130vw;
    margin-bottom: 200px;
    overflow: hidden;
}
    
    .row3 > img {
        width: 100vw;
        animation: rotation 30s infinite linear;
        -webkit-animation: rotation 30s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  .row4 {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-content: center;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.418) 0%, rgba(255, 255, 255, 0.938) 75%, #ffffff 100%), url('../../assets/images/ladderToMoon.png');
    background-position: center;
    background-repeat: no-repeat;
  }

    .r4Column1 {
        width: 70vw;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }

   