
@font-face {
  font-family: 'Lemon Tuesday Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Lemon Tuesday Regular'), url('./assets/fonts/Lemon\ Tuesday.woff') format('woff');
  }

@font-face {
  font-family: 'Glacial Indifference Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Glacial Indifference Regular'), url('./assets/fonts/GlacialIndifference-Regular.woff') format('woff');
  }
  

@font-face {
font-family: 'Glacial Indifference Bold';
font-style: normal;
font-weight: normal;
src: local('Glacial Indifference Bold'), url('./assets/fonts/GlacialIndifference-Bold.woff') format('woff');
}
    

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

