/* show Menu List */
.true {
    visibility: visible;
    
}

.false {
    visibility: hidden;
}
/* show Menu List */

.Nav {
    height: 90px;
    width: 100vw;
    margin: 0px;
    padding: 0;
    position: fixed;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.logo img {
    padding-left: 10px;
    padding-top: 8px;
    width: 80px;
}

.hamburgerMenu {
    margin-top: 10px;
    margin-right: 25px;
    font-size: 40px;
    z-index: -1;
}

.menu > button {
    border-style: none;
    background-color: transparent;
    box-shadow: none;
}


.popUpMenu {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    height: 400px;
    border-radius: 4px;
    background-color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
   
    
}
.popUpMenu > ul {
    list-style: none;
    position: fixed;
    top: 100px;
    right: 80px;
    font-size: 25px;
    font-family: 'Glacial Indifference Regular';    
}

li > a {
    display: flex;
    justify-content: space-evenly;
    padding-top: 25px;
    text-decoration: none;
    color: black;
}

li > a:hover {
    color: #ac5757;
}



.closeBtn {
    position: fixed;
    top: 20px;
    right: 280px;
    font-size: 50px;
    box-shadow: none;
    background-color: transparent;
}

@media (max-width:800px) {
    #lrg-scrn-menu {
        visibility: hidden;
    }
    .Nav {
        background-color: white;
    }
    .lrg-menu>li {
        display: flex;
        flex-direction: column;
    }
    .menu li {
        display: flex;
        padding: 0px;
    }

}